@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    background-color: black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    padding-top: 180px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sopr {
    font-family: "Prompt", sans-serif;
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: 8px 2px 8px 13px ;
}

.image {
    width: 27px;
    height: 20px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;

}

.insta {
    width: 20px;
    height: 20px;
}

.youtube {
    width: 33px;
    height: 33px;
    padding-left: 5px;
}

.spotify {
    width: 30px;
    height: 35px;
    padding-right: 8px;
}

.facebook {
    width: 40px;
    height: 25px;
    
}

.appstore {
    width: 23px;
    height: 23px;
}

.we-chat {
    width: 23px;
    height: 23px;
    padding: 10px;
}

.e {
    padding: 2px;
}


.linked {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.linked:hover {
    background-color: red;
}

.link {
    text-decoration: none;
}

.flights {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    margin-right: 90px;
    
}






header h1 {
    font-size: 24px;
    margin: 0;
    color: #000;
}

.date {
    font-size: 14px;
    color: white;
    margin: 5px 0 0 0;
}

.flights ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flights li {
    padding: 8px 0;
    color: white;
    font-size: 12px;
}

.flights li:last-child {
    border-bottom: none;
}